// Змінні
$main_bg_color: rgba(255, 0, 0, 0.795);
// End veribel

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
}

// зброс стилів кінець
body {
    .button_up {
        position: fixed;
        right: 80px;
        bottom: 50px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid rgb(12, 26, 32);
        background: rgb(28, 55, 68);
        z-index: 100;
        cursor: pointer;
        outline: 0;

        // display: none;

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
            transform: rotate(45deg);
            position: absolute;
            top: 5px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:hover {
            box-shadow: -1px -1px 18px 1px rgba(0, 0, 0, 0.75);
        }
    }
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}

header {

    height: 100vh;
    background: url(../images/3.jpg) no-repeat center top / cover;

    nav .hipper_l {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
    nav .hipper_l a {
        border-radius: 15%;
        padding: 5px;
        border: 2px solid;
        box-shadow: 0 0 20px rgba(37, 7, 121, 0.377)
    }
    a:hover {
        color: $main_bg_color;
    }
    h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 45vh;
    }

}

// End of header

main {
    background-color: rgb(13, 7, 39);
    .images {
        padding: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px
    }
    .images img {

        border: 2px solid black;
        border-radius: 2%;
    }
}

// End of main
// section
section {
    background-color: rgb(95, 95, 18);
    padding: 70px;
    text-align: center;
    .video_1 {
        display: flex;
        justify-content: space-around;
    }
}

// End of section

// footer
footer {
    padding: 70px;
    background-color: #000;
    .foter_it {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .f_icons a {
        font-size: 35px;
        margin-left: 10px;
    }
    .f_icons i {
        color: rgb(90, 90, 55);
    }
    .f_icons i:hover {
        color: rgb(166, 168, 35);
    }
}