<footer>
    <div class="conteiner">
        <div class="foter_it">
            <p>Igor Zaliskyi &#169; 2017</p>
            <div class="f_icons">
                <a href="https://www.facebook.com/profile.php?id=100009246191799">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-odnoklassniki-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<button class="button_up"></button>