<header>
    <!-- <form>
<input type="text" placeholder="text">

</form>  -->
    <div class="conteiner">
        <nav>
            <div class="hipper_l">
                <a href="#">Home</a>
                <a href="#">Street</a>
                <a href="#video">video</a>
                <a href="#">shop</a>
                <a href="#">photo</a>
            </div>
        </nav>
        <!-- End of nav -->
        <div class="heders">
            <h1>Welcome to Belz !</h1>
        </div>

    </div>
</header>